<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-list>
    <ion-item class="ion-text-wrap" *ngFor="let product of products" (click)="buyProducts(product)">
      <!-- {{ products | json }} -->
      <ion-label>
        <h2>{{product.title}}</h2>
        <p>{{product.description}} {{product.price}}</p>
        <p>{{product.productId}}</p>
      </ion-label>
      <ion-icon slot="end" name="cart-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
